
<main>
     {% block main %}
    <section>
        <h2>Counter Strike 1.6</h2>
         <article>

             <div class="style">
                <img src="image/cs1.6.jpg" alt="counter">
             </div>
            <h2>-&nbsp;Qu'est-&nbsp;ce que Counter Strike 1.6 ? &nbsp;-</h2>
             <p>Le jeu, en version 1.6 depuis septembre 2003, a connu depuis sa sortie officielle le 8 novembre
                 2000 un important succès..</p>

            <p>La série est nommée d'après le premier jeu de la série, Counter-Strike (2000), qui est
                 initialement publié comme mod pour le jeu vidéo Half-Life (1998) et conçu par Minh Le et Jess
                 Cliffe avant que les droits du jeu ne soient acquis par Valve, développeur de Half-Life.</p>

            <p>Ce premier opus est suivi par plusieurs autres jeux : Counter-Strike Neo (2003), Counter-Strike:
                 Condition Zero (2004), Counter-Strike: Source (2004), Counter-Strike Online (2008) et
                Counter-Strike: Global Offensive (2012). </p>
         </article>
         <article>
            <h2>-&nbsp; E-sport &nbsp;-</h2>
             <p>began in 2001 with the Cyberathlete Professional League Winter Championship, won by Ninjas in
                Pyjamas.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis nisi ipsum, ac cursus
                velit feugiat non. Nulla egestas porttitor felis vitae finibus. Quisque at magna libero. In nunc
                est, ullamcorper ac turpis sit amet, condimentum fringilla neque. Ut eu mollis justo. Sed
                consequat mollis arcu et bibendum. Donec varius, purus vitae maximus sodales, dolor dolor
                laoreet ipsum, vel dictum lectus purus in leo. Integer est orci, ultricies et tellus eget,
                viverra semper lacus. Sed metus ante, porttitor sed faucibus ac, imperdiet eget felis. Aliquam
                erat volutpat. Curabitur lorem orci, malesuada eget nisl ac, auctor iaculis leo.</p>
             <figure class="lan">
                <img src="image/LAN_OLD.jpg" alt="lan_old">
                <figcaption><i>Photo d'une LAN CS1.6 2001</i></figcaption>
                <!-- <figcaption>Photo prise en 2001 lors des premieres LAN</figcaption> -->
            </figure>

             <p>Cras sollicitudin sapien ac elit commodo varius. Donec viverra ante fermentum, scelerisque ante
                 id, dictum dui. Nunc interdum quam ut eros congue pretium. Sed et nisi suscipit, molestie arcu
                id, dictum dolor. Aliquam consectetur non orci sit amet hendrerit. Sed lacus ligula, tempus quis
                ultrices eu, bibendum id sapien. Donec tempor eget neque sed cursus. Phasellus maximus, lacus in
                tempor rhoncus, ligula sapien sollicitudin quam, sit amet sollicitudin sapien purus quis sem.
                 Maecenas tempor erat purus, ut ultricies risus placerat id. Sed eget pulvinar tellus.
                Suspendisse ac sem mattis, commodo erat sed, consequat neque. In vulputate tempus varius. Mauris
                pretium mollis ultrices. Suspendisse tempus nec nisl eget eleifend.</p>

            <figure class="videolan">
                <iframe width="620" height="450" src="https://www.youtube.com/embed/KkgQkxPxJlE"
                     title="YouTube video player"
                     allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                     allowfullscreen></iframe>
                <figcaption><i>LAN en 2009</i></figcaption>
             </figure>

                <p>Quisque justo lacus, posuere a ipsum vitae, sagittis convallis ipsum. Nullam ac rhoncus
                     ligula.
                    Aliquam at aliquet quam. Phasellus dignissim libero at augue pellentesque, sed cursus risus
                    congue. Curabitur sed lacinia turpis. In libero diam, ullamcorper vel porttitor vitae,
                    eleifend
                     et elit. In sodales nisi sed tortor vulputate, eu iaculis massa porttitor. Vivamus nec
                    vulputate
                     sapien. Donec scelerisque purus purus, maximus molestie ligula viverra sed. Cras volutpat
                     convallis est nec pulvinar. Donec laoreet vestibulum semper. Vivamus varius dictum molestie.
                     Proin vestibulum mauris id elit eleifend placerat. Quisque risus erat, consequat vitae metus
                     quis, imperdiet ornare metus. Proin diam tortor, dapibus sit amet sapien eget, blandit
                     condimentum metus. Aliquam erat volutpat.</p>
        </article>
    </section>
    {% endblock main %}
</main>
       