
        <main>
            <section>
                <h2>-&nbsp;M4A1-S&nbsp;-</h2>
                <article>
                    <div class="tableau">
                        <table class="tableau_2">
                            <thead>
                                <tr>
                                    <td class="titre2" colspan="3">
                                        Statistique de la M4A1-S
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="7">
                                        <img src="image/M4A1-S.png" alt="m4">
                                    </td>
                                    <td></td>
                                    <td> Spray de l'arme</td>
                                </tr>
                                <tr>
                                    <td> Dégats : 38 </td>
                                    <td rowspan="6">
                                        <img src="image/M4A1-S-Spray-Pattern.gif" alt="spray">
                                    </td>
                                </tr>

                                <tr>
                                    <td> Cadence de tir : 600 rpm </td>
                                </tr>

                                <tr>
                                    <td> Temps de rechargement : 3.1 secondes </td>
                                </tr>

                                <tr>
                                    <td> Pénétration armure : 70% </td>
                                </tr>

                                <tr>
                                    <td> Munition : 5.56x45mm NATO </td>
                                </tr>

                                <tr>
                                    <td> Coût : 2900$ </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ok">
                        <h2>-&nbsp;Historique&nbsp;-</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla turpis dolor, sollicitudin vel
                        efficitur varius, luctus sit amet urna. Pellentesque blandit orci nec purus mollis, nec ornare
                        velit volutpat. Morbi quis erat a metus lacinia facilisis vitae sed diam. Phasellus tincidunt
                        nisl in sodales malesuada. Sed sapien sapien, aliquam vitae tellus ut, iaculis ornare erat.
                        Proin fringilla ante et massa facilisis gravida. Donec mollis ante ac condimentum rutrum. Aenean
                        pellentesque ac turpis vitae faucibus. Morbi vel neque quam. </p>

                    <p>Aliquam metus nulla, tempus quis malesuada et, lacinia vitae erat. Interdum et malesuada fames ac
                        ante ipsum primis in faucibus. Mauris fermentum tempor blandit. Curabitur at ligula lectus.
                        Vestibulum ligula tortor, facilisis nec nulla ac, aliquet malesuada augue. Curabitur sit amet
                        massa efficitur, commodo felis sit amet, sodales libero. Aliquam nec nisl elementum, efficitur
                        elit at, mattis mi. Maecenas eu libero nec nibh tincidunt egestas. Curabitur at erat sed metus
                        luctus facilisis. Nam non ipsum et mauris porta maximus. </p>


                </article>
            </section>
        </main>
