
            <main>
                <section>
                    <h2>Une question ?</h2>
                    <article>
                            <form method="post" action="http://localhost/reception.php">
                                <label for="pseudo">Entrez votre pseudo : </label>
                                <input type="text" name="pseudo" id="pseudo"><br><br>

                                <label for="mail">Entrez votre adresse mail :</label>
                                <input type="text" name="mail" id="mail"><br><br>
                                    
                                <label for="question">Votre question : </label>
                                <textarea name="question" id="question"></textarea><br><br>
                                    
                                <input type="submit" value="Envoyer">
                            </form>
                        <h2>Merci !</h2>
                        <p>Nous prenons sérieusement toutes questions ou critiques envers notre site internet donc n'hésitez pas !</p>
                        <p>Nous vous répondrons aussi rapidement que possible</p>
                    </article>
                </section>
            </main>
