.style {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


img[alt="counter"] {
    margin: auto;
    height: 300px;
}

.actu_place {
    width: 300px;
    display: inline-block;
    margin-right: 80px;
}

h2 {
    text-align: center;
    color: #cdb119;
    font-family: "balise";
}