.wrap {
    width: 960px;
    margin: auto;
    text-align: justify;
}

@font-face {
    font-family: "balise";
    src: url("font/Blacklisted/Blacklisted.ttf") format('ttf'),
        url('font/Blacklisted/Blacklisted.woff2') format('woff2'),
        url('font/Blacklisted/Blacklisted.woff') format('woff'),
        url('font/Blacklisted/Blacklisted.eot') format('eot');
}

body {
    background-image: url("../image/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: justify;
}

.titre {
    font-family: "balise";
    text-align: center;
    color: #cdb119;
    font-size: 45px;
    margin: auto;
}

.csgo {
    width: 100%;
    height: 200px;
}

.banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.nav_principal a {
    color: white;
    background-color: #cdb119;
    display: block;
    height: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    /* Police*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /*Enleve les "liens" */
}


.nav_principal a:hover {
    background-color: #eacd31;
}

.nav_principal ul {
    list-style: none;
    display: flex;
}

.nav_principal li {
    width: 100%;
    text-align: center;
    position: relative;
    /*Permet de garder tout les menu car si absolute il n'y a plus que boutique*/
}

.nav_principal li:hover .deroulant>li {
    display: block;
    /*permet d'afficher les li*/

}

.deroulant li {
    display: none;
    position: relative;
}

.deroulant {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    padding: 0%;
    /*Placer les sous menu juste en dessous des catégories*/
}

.fleche {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 12px;
}

/*Fin menu déroulant*/

.fond {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    text-align: center;

}

.aside {
    border: 2px solid white;
}

.aside a {
    text-decoration: none;
    color: white;
}

img[alt="cyka"],
img[alt="fr"] {
    height: 45px;
}


main {
    font-family: Arial, Helvetica, sans-serif
}



.footer {
    display: flex;
    margin-top: 100px;
    background-color: #cdb119;
}

li:first-child {
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    color: white;
}

.plan {
    list-style: none;
    margin-top: 30px;
}

.foot_a {
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan_boutique {
    list-style: none;
    font-size: 20px;
}

img[alt="logo"] {
    height: 40px;

}

footer p {
    display: flex;
    flex-direction: column-reverse;
}