.style {
    display: flex;
    align-items: center;
    justify-content: center;
}


img[alt="counter"] {
    margin: auto;
    height: 500px;
}

.actu_place {
    width: 300px;
    display: inline-block;
    margin-right: 80px;
}

h2 {
    text-align: center;
    color: #cdb119;
    font-family: "balise";
}

img[alt="lan_old"] {
    width: 700px;
}

.lan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.videolan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

iframe {
    border: none;
}