.style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.style img {
    height: 240px;
}

figcaption {
    text-align: center;
    font-weight: bold;
}


.actu_place {
    width: 300px;
    display: inline-block;
    margin-right: 80px;
}

h2 {
    text-align: center;
    color: #cdb119;
    font-family: "balise";
}


.videolan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

iframe {
    border: none;
}

ul {
    list-style: none;
}


.fond {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row-reverse;
    text-align: center;

}


main li:first-child {
    color: #cdb119;
    font-size: 20px;
    font-weight: bold;
}