h2 {
    text-align: center;
    color: #cdb119;
    font-family: "balise";
}



img[alt="m4"] {
    margin: auto;
    width: 300px;

}

img[alt="spray"] {
    margin: auto;
    width: 300px;
}

.tableau {
    display: flex;
    justify-content: center;
}

table {
    empty-cells: hide;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid white;
    padding: 1rem;
}

.titre2 {
    text-align: center;
}